* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #f4f4f9;
}

h1{
  color: #f4f4f4;
  text-align: center;
  padding: 20px;
  font-size: 35px;
}

.nav-container {
  width: 15vw;
  height: 100vh;
  background-color: rgb(15, 18, 63);
  display: flex;
  flex-direction: column;
}

.nav1, .nav2 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav2 {
  margin-top: auto;
}

nav {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menu {
  width: 100%;
  list-style-type: none;
  display: flex; /* Hace que los li se alineen en línea */
  justify-content: space-around; /* Espacia los li uniformemente */
  flex-direction: column; /* Alinea verticalmente los li */
}

.menu li {
  padding: 17px 0;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}

.menu li a {
  color: #ffffff;
  padding: 0 2em;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.menu li i{
  margin-right: 8px;
}

i{
  margin-left: 30px;
  color: #ffffff;
  font-size: 30px;
}

a{
  margin-left: -20px;
}

.menu li:hover a, #active a, .menu li:hover i, #active i{
  color: rgb(254, 152, 30);
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
  text-align: center;
  padding: 20px;
  font-size: 35px;
}

.add-goal-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.add-goal-form input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.add-goal-form button {
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.goals-list {
  list-style-type: none;
  padding: 0;
}
.goal-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 10px;
}
.goal-name {
  font-weight: bold;
  margin-bottom: 5px;
}
.goal-progress {
  margin-bottom: 10px;
}
progress {
  width: 100%;
  height: 20px;
}
.add-money-form {
  display: flex;
  gap: 10px;
}
.add-money-form input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.add-money-form button {
  padding: 5px 10px;
  background-color: #008cba;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container-obj{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.progress-bar {
  border: solid 1px black;
  width: 200px;
  height: 25px;
  position: relative;
  background-color: #e0e0e0;
  overflow: hidden;
}

.progress-bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%; 
  background-color: #007bff; 
  transition: width 0.5s ease; 
}