<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Agregar Deuda</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div class="nav-container">
        <div class="nav1">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
                <h1>Finanzas SAT</h1>
                <ul class="menu">
                    <li id="active">
                        <i class="fa-solid fa-chart-simple"></i><a href="index.html">Esquema</a>
                    </li>
    
                    <li>
                        <i class="fa-solid fa-arrow-up-wide-short"></i><a href="ingreso.html">Ingresos</a>
                    </li>
    
                    <li>
                        <i class="fa-solid fa-arrow-down-short-wide"></i><a href="gastos.html">Gastos</a>
                    </li>
    
                    <li>
                        <i class="fa-solid fa-medal"></i><a href="objetivos.html">Objetivos Personales</a>
                    </li>
    
                    <li>
                        <i class="fa-solid fa-medal"></i><a href="deudas.html">Deudas</a>
                    </li>
    
                    <!--        <li>-->
                    <!--          <a href="ajustes.html">Ajustes</a>-->
                    <!--        </li>-->
                </ul>
            </nav>
        </div>
    
        <div class="nav2">
            <nav>
                <ul class="menu">
    
                    <li>
                        <i class="fa-regular fa-address-card"></i><a href="contacto.html">Contacto</a>
                    </li>
    
                    <li>
                        <i class="fa-solid fa-share-from-square"></i><a href="login.html">Cerrar sesion</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    
    <h1>Agregar Deuda</h1>
    <form th:action="@{/deudas}" method="post">
        <label for="nombre">Descripcion:</label>
        <input type="text" id="descripcion" name="descripcion" required />

        <label for="monto">Monto:</label>
        <input type="number" id="monto" name="monto" required />

        <label for="fecha">Fecha:</label>
        <input type="date" id="fecha" name="fecha" required />

        <label for="tipoDeuda">Tipo de Deuda:</label>
        <select id="tipoDeuda" name="tipoDeuda">
            <option value="DEBO">Pendiente</option>
            <option value="ME_DEBEN">Por Cobrar</option>
        </select>

        <label for="destinatario">Destinatario:</label>
        <input type="text" id="destinatario" name="destinatario" required />

        <button type="submit">Guardar</button>
    </form>
</body>
</html>
