<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Taller Web I</title>

  <!-- Boostrap core css -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>
  <div class="nav1">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <ul>
        <li>
          <a href="#" class="navbar-brand">Esquema</a>
        </li>

        <li>
          <a href="ingreso.html" class="navbar-brand">Ingresos</a>
        </li>

        <li>
          <a href="gastos.html" class="navbar-brand">Gastos</a>
        </li>

        <li>
          <a href="objetivos.html" class="navbar-brand">Objetivos</a>
        </li>

        <li>
          <a href="ajustes.html" class="navbar-brand">Ajustes</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="nav2">
    <nav>
      <ul>
        <li>
          <a href="ayuda.html" class="navbar-brand">Centro de Ayuda</a>
        </li>

        <li>
          <a href="contacto.html" class="navbar-brand">Contacto</a>
        </li>

        <li>
          <a href="#" class="navbar-brand">Cerrar sesion</a>
        </li>
      </ul>
    </nav>
  </div>

  <main role="main" class="container">
    <div class = "container">
      <h1>Bienvenidos a Taller Web 1</h1>

      <a href="login.html" class="btn btn-lg btn-primary btn-block">Volver</a>
    </div>
  </main>
  <!-- /.container -->

  <!-- Boostrap core js -->
  <script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>