<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../resources/core/css/index.css">
</head>
<body>
    <div class="nav-container">
        <div class="nav1">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
                <ul class="menu">
                    <h1>Finanzas SAT</h1>
                    <li id="active">
                        <a href="index.html">Esquema</a>
                    </li>
        
                    <li>
                        <a href="ingreso.html">Ingresos</a>
                    </li>
        
                    <li>
                        <a href="gastos.html">Gastos</a>
                    </li>
        
                    <li>
                        <a href="objetivos.html">Objetivos</a>
                    </li>
        
                    <li>
                        <a href="ajustes.html">Ajustes</a>
                    </li>
                </ul>
            </nav>
        </div>
        
        <div class="nav2">
            <nav>
                <ul class="menu">
                    <li>
                        <a href="ayuda.html">Centro de Ayuda</a>
                    </li>
        
                    <li>
                        <a href="contacto.html">Contacto</a>
                    </li>
        
                    <li>
                        <a href="#">Cerrar sesion</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <main>
        <div class="container-billetera">
            <p>Billetera</p>
            <p class="dinero">$467.900,34</p>
            <p class="ingreso">$530.000,00</p>
            <p class="gasto">$62099,66</p>
            <p class="tipo-mov-ing">Ingreso</p>
            <p class="tipo-mov-egr">Egreso</p>
        </div>

        <div class="container-grafico">
            <div class="detalles">
                <div class="detalle-item">
                    <div class="punto-verde"></div><p>Ingresos</p>
                </div>
                <div class="detalle-item">
                    <div class="punto-rojo"></div><p>Egresos</p>
                </div>
            </div>
        
            <div class="chart-container" style="--ingresos: 70">
                <div class="chart-label">Gastos Totales</div>
            </div>
        </div>

        <div class="calendar-container">
            <div class="month">
                <div class="prev">&#10094;</div>
                <div class="month-title">Septiembre 2024</div>
                <div class="next">&#10095;</div>
            </div>
            <div class="weekdays">
                <div>Lun</div>
                <div>Mar</div>
                <div>Mié</div>
                <div>Jue</div>
                <div>Vie</div>
                <div>Sáb</div>
                <div>Dom</div>
            </div>
            <div class="days">
                <div class="prev-month">26</div>
                <div class="prev-month">27</div>
                <div class="prev-month">28</div>
                <div class="prev-month">29</div>
                <div class="prev-month">30</div>
                <div class="prev-month">31</div>
                <div>1</div>
                <div>2</div>
                <div class="ingreso">3</div>
                <div>4</div>
                <div class="egreso">5</div>
                <div>6</div>
                <div class="egreso">7</div>
                <div>8</div>
                <div class="ingreso">9</div>
                <div>10</div>
                <div>11</div>
                <div>12</div>
                <div>13</div>
                <div>14</div>
                <div>15</div>
                <div>16</div>
                <div>17</div>
                <div>18</div>
                <div>19</div>
                <div>20</div>
                <div>21</div>
                <div>22</div>
                <div>23</div>
                <div>24</div>
                <div>25</div>
                <div>26</div>
                <div>27</div>
                <div>28</div>
                <div>29</div>
                <div>30</div>
                <div class="next-month">1</div>
                <div class="next-month">2</div>
                <div class="next-month">3</div>
                <div class="next-month">4</div>
                <div class="next-month">5</div>
                <div class="next-month">6</div>
            </div>
        </div>
        <section class="list-container">
            <article class="table-category">
                <h4>Categoria</h4>
            </article>
            <article class="table-category">
                <h4>Tipo</h4>
            </article>
            <article class="table-category">
                <h4>Monto</h4>
            </article>
            <article class="table-category">
                <h4>Fecha</h4>
            </article>
            <article class="table-category">
                <h4>Comentarios</h4>
            </article>

            <article class="finanzas__content">
                <p>Sueldo</p>
            </article>
            <article class="finanzas__content">
                <p class="ingreso">Ingreso</p>
            </article>
            <article class="finanzas__content">
                <p>$450.000,00</p>
            </article>
            <article class="finanzas__content">
                <p>03-09-2024</p>
            </article>
            <article class="finanzas__content">
                <p>...</p>
            </article>

            <article class="finanzas__content">
                <p>Comida</p>
            </article>
            <article class="finanzas__content">
                <p class="gasto">Egreso</p>
            </article>
            <article class="finanzas__content">
                <p>$2.099,66</p>
            </article>
            <article class="finanzas__content">
                <p>05-09-2024</p>
            </article>
            <article class="finanzas__content">
                <p>...</p>
            </article>

            <article class="finanzas__content">
                <p>Alquiler</p>
            </article>
            <article class="finanzas__content">
                <p class="gasto">Egreso</p>
            </article>
            <article class="finanzas__content">
                <p>$60.000,00</p>
            </article>
            <article class="finanzas__content">
                <p>07-09-2024</p>
            </article>
            <article class="finanzas__content">
                <p>...</p>
            </article>

            <article class="finanzas__content">
                <p>Prestamo</p>
            </article>
            <article class="finanzas__content">
                <p class="ingreso">Ingreso</p>
            </article>
            <article class="finanzas__content">
                <p>$80.000,00</p>
            </article>
            <article class="finanzas__content">
                <p>09-09-2024</p>
            </article>
            <article class="finanzas__content">
                <p>...</p>
            </article>
    </main>
</body>
</html>