<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no">
    <title>Finanzas SAT</title>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" href="../../../resources/core/css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
          integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
<div class="nav-container">
    <div class="nav1">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <h1>Finanzas SAT</h1>
            <ul class="menu">
                <li id="active">
                    <i class="fa-solid fa-chart-simple"></i><a href="index.html">Esquema</a>
                </li>

                <li>
                    <i class="fa-solid fa-arrow-up-wide-short"></i><a href="ingreso.html">Ingresos</a>
                </li>

                <li>
                    <i class="fa-solid fa-arrow-down-short-wide"></i><a href="gastos.html">Gastos</a>
                </li>

                <li>
                    <i class="fa-solid fa-medal"></i><a href="objetivos.html">Objetivos</a>
                </li>

                <!--        <li>-->
                <!--          <a href="ajustes.html">Ajustes</a>-->
                <!--        </li>-->
            </ul>
        </nav>
    </div>

    <div class="nav2">
        <nav>
            <ul class="menu">
                <!--        <li>-->
                <!--          <a href="ayuda.html">Centro de Ayuda</a>-->
                <!--        </li>-->

                <li>
                    <i class="fa-regular fa-address-card"></i><a href="contacto.html">Contacto</a>
                </li>

                <li>
                    <i class="fa-solid fa-share-from-square"></i><a href="login.html">Cerrar sesion</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

    <main>
        <div class="container-billetera">
            <p>Billetera</p>
            <p class="dinero" th:text="${#numbers.formatDecimal(saldo, 1, 2)}"></p>
            <p class="ingreso">$530.000,00</p>
            <p class="gasto">$62099,66</p>
            <p class="tipo-mov-ing">Ingreso</p>
            <p class="tipo-mov-egr">Egreso</p>
        </div>

        <div class="container-grafico">
            <div class="detalles">
                <div class="detalle-item">
                    <div class="punto-verde"></div><p>Ingresos</p>
                </div>
                <div class="detalle-item">
                    <div class="punto-rojo"></div><p>Egresos</p>
                </div>
            </div>

            <div class="chart-container" id="chartContainer">
                <div class="chart-label">Gastos Totales</div>
            </div>
        </div>


        <div class="calendar-container">
            <div class="month">
                <button id="prev">Anterior</button>
                <span id="monthName"></span>
                <button id="next">Siguiente</button>
            </div>
            <div class="days-of-week" id="daysOfWeek"></div>
            <div class="days" id="daysContainer"></div>
        </div>

        <div class="container-index">
            <h2>Bienvenido a Finanzas SAT</h2>

            <div class="flex">
                <div>
                    <div class="egresos-section">
                        <h3>Egresos Recientes</h3>
                        <table class="table table-striped">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Descripción</th>
                                    <th>Monto</th>
                                    <th>Tipo</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="egreso : ${egresos}">
                                    <td th:text="${egreso.descripcion}"></td>
                                    <td th:text="${#numbers.formatDecimal(egreso.monto, 1, 2)}"></td>
                                    <td th:text="${egreso.tipoEgreso}"></td>
                                </tr>

                                </tbody>
                            </table>
                        </table>
                    </div>
                    <div class="ingresos-section">
                        <h3>Ingresos Recientes</h3>
                        <table class="table table-striped">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Descripción</th>
                                    <th>Monto</th>
                                    <th>Tipo</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="ingreso : ${ingresos}">
                                    <td data-label="Descripción" th:text="${ingreso.descripcion}"></td>
                                    <td data-label="Monto" th:text="${#numbers.formatDecimal(ingreso.monto, 1, 2)}"></td>
                                    <td data-label="Tipo" th:text="${ingreso.tipoIngreso}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </table>
                    </div>
                </div>

                <div>
                    <h3>Objetivos de Ahorro</h3>
                    <table class="objetivos-table">
                        <thead>
                        <tr>
                            <th>Nombre del objetivo</th>
                            <th>Monto objetivo</th>
                            <th>Monto actual</th>
                            <th>Aportar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="objetivo : ${objetivos}">
                            <td th:text="${objetivo.nombre}"></td>
                            <td th:text="${objetivo.montoObjetivo}"></td>
                            <td th:text="${objetivo.montoActual}"></td>
                            <td>
                                <form th:action="@{/objetivos/{id}/aportar(id=${objetivo.id})}" method="post">
                                    <input type="number" name="montoAportado" min="1" required>
                                    <button type="submit">Aportar</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</body>
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/index.js}"></script>
<script type="text/javascript" src="../../../resources/core/js/index.js"></script>
<script type="text/javascript" th:src="@{/js/ingresos.js}"></script>
<script type="text/javascript" src="../../../resources/core/js/ingresos.js"></script>
<script type="text/javascript" th:src="@{/js/gastos.js}"></script>
<script type="text/javascript" src="../../../resources/core/js/gastos.js"></script>
</html>