<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taller Web I</title>

    <!-- Custom styles -->
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>

<body>

<header>
    <h1 class="title">
        <a href="login.html">FINANZAS SAT</a>
    </h1>
</header>

<main>
    <div class="container">
        <div id="loginbox" class="mainbox">
            <form th:action="@{/validar-login}" method="POST" th:object="${datosLogin}">
                <h3 class="loginText">Iniciar Sesion</h3>

                <!-- Campo de correo -->
                <input th:field="*{email}" id="email" type="email" placeholder="Correo Electrónico" required/>

                <!-- Campo de contraseña -->
                <input th:field="*{password}" id="password" type="password" placeholder="Contraseña" required/>

                <!-- Botón de inicio de sesión -->
                <button id="btn-login" type="submit">Iniciar Sesion</button>

                <!-- Mostrar mensaje de error si existe -->
                <p th:if="${error != null}" class="alert alert-danger" th:text="'Error: ' + ${error}"></p>
            </form>

            <!-- Enlace a registrarse -->
            <a id="ir-a-registrarme" href="nuevo-usuario" class="linkText">No tienes una cuenta? Registrarme</a>
        </div>
    </div>
</main>

</body>
</html>
