<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Taller Web I</title>
  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/login.css}">
  <link rel="stylesheet" href="../../../resources/core/css/login.css">

</head>

<body>
<header>
  <h1 class="title">Finanzas SAT</h1>
</header>

<main role="main" class="container">

  <div class = "container">
    <div id="loginbox" class="mainbox">
      <form action="#" th:action="@{/registrarme}" method="POST" th:object="${usuario}">
        <h3 class="loginText">Nuevo Usuario</h3>

        <label for="username">
          <input th:field="*{username}" placeholder="Ingrese nombre de usuario" type="text" id="username" class="form-control" required/>
        </label>

        <label for="email">
          <input th:field="*{email}" placeholder="Ingrese su E-Mail" type="email" id="email" class="form-control" required/>
        </label>

        <label for="password">
          <input th:field="*{password}" placeholder="Ingrese su contraseña" type="password" id="password" class="form-control" required/>
        </label>
        <button id="btn-registrarme" class="btn btn-lg btn-primary btn-block" Type="Submit">Registrarme</button>
        <p th:if="${error != null}" class="alert alert-danger" th:text="'Error ' + ${error}">
        </p>
      </form>
      <a  class="linkText" id="ir-a-login" href="login.html">Iniciar Sesion</a>

    </div>
  </div>

</main>
<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
<script src="../../../resources/core/js/registrarse.js"></script>
</body>
</html>