<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Usuario</title>

    <!-- Custom styles -->
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
</head>

<body>

<header>
    <h1 class="title">
        <a href="login.html">FINANZAS SAT</a>
    </h1>
</header>

<main>
    <div class="container">
        <div id="loginbox" class="mainbox">
            <form th:action="@{/registrarme}" method="POST" th:object="${usuario}">
                <h3 class="loginText">Nuevo Usuario</h3>

                <!-- Campo de nombre de usuario -->
                <input th:field="*{username}" id="username" type="text" placeholder="Nombre de Usuario" required/>

                <!-- Campo de correo electrónico -->
                <input th:field="*{email}" id="email" type="email" placeholder="Correo Electrónico" required/>

                <!-- Campo de contraseña -->
                <input th:field="*{password}" id="password" type="password" placeholder="Contraseña" required/>

                <!-- Campo para confirmar contraseña -->
                <input id="confirm_password" type="password" placeholder="Confirmar Contraseña" required/>

                <!-- Botón de registrarse -->
                <button id="btn-register" type="submit">Registrarme</button>
            </form>

            <!-- Enlace para iniciar sesión -->
            <a id="ir-a-login" href="login.html" class="linkText">Iniciar Sesión</a>
        </div>
    </div>
</main>

</body>
</html>
